<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/include/bootstrap.php"
         backupGlobals="false"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         colors="true">

    <testsuites>
        <testsuite name="Application Test Suite">
            <directory suffix="Test.php">./cubes</directory>
            <directory suffix="Test.php">./tests/application</directory>
        </testsuite>
    </testsuites>
</phpunit>
