.page-ecommerce-property {}

.properties-table {
    max-width: none;
    width: 800px;
}
.properties-table._wide,
.properties-table ._wide {
    width: 100%;
}
.properties-table tbody tr._error {
    background: rgba(226, 21, 61, 0.07);
}
.properties-table td input[type=text] {
    height: 28px;
}
.properties-table tbody tr td {
    border: 0;
}
.properties-table ._sort {
    cursor: move;
    width: 30px;
    text-align: center;
    color: #aaa;
    transition: all 0.3s;
}
.properties-table ._sort:hover {
    color: #000;
}
.properties-table ._name {
    width: 200px;
}
.properties-table ._type {
    width: 200px;
}
.properties-table ._cog {
    color: #aaa;
    font-size: 14px;
}
.properties-table ._cog:hover,
.properties-table ._cog._active {
    color: #000;
}
.properties-table ._enum {
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.properties-table ._enum input {
    margin-bottom: 5px;
    width: 80%;
}
.properties-table .sortable-ghost {
    opacity: 1;
    background: #fffbe6;
}
.properties-table .checkbox-nice {
    top: -3px;
}
.properties-table ._add,
.properties-table ._remove {
    width: 30px;
    text-align: center;
    color: #aaa;
    transition: all 0.3s;
}
.properties-table ._add:hover,
.properties-table ._remove:hover {
    color: #000;
}
